html, body {
  background-color: #111;
  text-align: center;
}
body{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
}
nav {
    background-color: #333;
    border: 1px solid #333;
    color: #fff;
    display: block;
    margin: 0;
    overflow: hidden;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul li {
    margin: 0;
    display: inline-block;
    list-style-type: none;
    transition: all 0.2s;
}

nav > ul > li > a {
    color: #aaa;
    display: block;
    line-height: 2em;
    padding: 0.5em 2em;
    text-decoration: none;

}

nav li > ul{
    display : none;
    margin-top:1px;
    background-color: #bbb;

}

nav li > ul li{
    display: block;
}

nav  li > ul li a {
    color: #111;
    display: block;
    line-height: 2em;
    padding: 0.5em 2em;
    text-decoration: none;
}

nav li:hover {
    background-color: #666;
}
nav li:hover > ul{
    position:absolute;
    display : block;
}
nav li > ul > li ul  {
    display: none;
    background-color: #888;
}
nav li > ul > li:hover > ul  {
    position:absolute;
    display : block;
    margin-left:100%;
    margin-top:-3em;
}

nav ul > li.sub{
    background: url(ic_keyboard_arrow_down_white_18dp.png) right center no-repeat;
}

nav ul > li.sub li.sub{
    background: url(ic_keyboard_arrow_right_white_18dp.png) right center no-repeat;
}

#video-container {
    display: block;
    height: 50vh;
    max-height: 60% ;
    background: yellow;
}

#video-canvas {
    height: 45vh;
    padding-top: 3vh;
    width: 90vw;
}

#controls-container {
    display: block;
    height: 40vh;
    background: red;

}

#controls {
	padding-top: 2vh;
}

button {
  border: solid 10% black;
}

button img {
   max-width: 6vw;
   height: auto;
}

#keyboard_key_up {
  	display: block;
  	margin-left: auto;
    margin-right: auto;
}

#keyboard_key_left {
  	
}

#keyboard_key_down {
	
}

#keyboard_key_right {
  	
}

.others {
	margin-top: 1vh;
}


@media screen and (orientation:portrait) {
	#video-canvas {
    	max-height: 45vh;
	}
	button img {
		max-width: 10vw;
	}
	#controls-container {
		max-height: 20vh; 	
	}
}

@media screen and (orientation:landscape) {
   	#video-canvas {
    	max-width: 50vw;
	}
	
}

